In [20]:
# Function ro print all combinations of pairs integers in a unique list
# [1,2,3] -> (1,2),(1,2),(2,3) - 3c2 = 3!/((3-2)!*2!)

def combinationsOfTwo(ls):
    comb = []
    for i in range(0,len(ls)):
        tu = ()
        for j in range(i+1,len(ls)):
            tu = (ls[i],ls[j])
            print(tu)
            comb.append(tu)
    print(comb)
combinations([1,2,3,3])

(1, 2)
(1, 3)
(1, 3)
(2, 3)
(2, 3)
(3, 3)
[(1, 2), (1, 3), (1, 3), (2, 3), (2, 3), (3, 3)]

In [24]:
def combinationsOfThree(ls):
    comb = []
    for i in range(0,len(ls)-2):
        tu = ()
        for j in range(i+1,len(ls)):
            for k in range(j+1,len(ls)):
                tu = (ls[i],ls[j],ls[k])
                print(tu)
                comb.append(tu)
    print("Total",len(comb),",Combinations are:",comb)
    print(comb[0])
combinationsOfThree([1,2,3,3])

(1, 2, 3)
(1, 2, 3)
(1, 3, 3)
(2, 3, 3)
Total 4 ,Combinations are: [(1, 2, 3), (1, 2, 3), (1, 3, 3), (2, 3, 3)]
(1, 2, 3)

In [13]:
# Combinations of Kth
#def comnationKth(ls,k):
 #   comb = []
  #  for i in range(0,k):

In [15]:
t = (11,3)
print(abs(t[0]-t[1]))

8

In [1]:
def diffPairs(ls):
    temp = ls
    i = 0
    lenght = len(ls)
    while(len(ls)>0):
        i+=1
        dup = defPairList(ls)
        ls = temp.extend(dup)
        print(dup)
    return i

In [2]:
def defPairList(ls):
    for i in range(0,len(ls)-1):
        for j in range(i+1,len(ls)):
            d = abs(ls[i]-ls[j])
            if d not in ls:
                ls.append(d)
                defPairList(ls)
    ls = sorted(ls,reverse=True)
    #print(ls(k-1))
    return ls
defPairList([20,40,501])

[501,
 500,
 499,
 498,
 497,
 496,
 495,
 494,
 493,
 492,
 491,
 490,
 489,
 488,
 487,
 486,
 485,
 484,
 483,
 482,
 481,
 480,
 479,
 478,
 477,
 476,
 475,
 474,
 473,
 472,
 471,
 470,
 469,
 468,
 467,
 466,
 465,
 464,
 463,
 462,
 461,
 460,
 459,
 458,
 457,
 456,
 455,
 454,
 453,
 452,
 451,
 450,
 449,
 448,
 447,
 446,
 445,
 444,
 443,
 442,
 441,
 440,
 439,
 438,
 437,
 436,
 435,
 434,
 433,
 432,
 431,
 430,
 429,
 428,
 427,
 426,
 425,
 424,
 423,
 422,
 421,
 420,
 419,
 418,
 417,
 416,
 415,
 414,
 413,
 412,
 411,
 410,
 409,
 408,
 407,
 406,
 405,
 404,
 403,
 402,
 401,
 400,
 399,
 398,
 397,
 396,
 395,
 394,
 393,
 392,
 391,
 390,
 389,
 388,
 387,
 386,
 385,
 384,
 383,
 382,
 381,
 380,
 379,
 378,
 377,
 376,
 375,
 374,
 373,
 372,
 371,
 370,
 369,
 368,
 367,
 366,
 365,
 364,
 363,
 362,
 361,
 360,
 359,
 358,
 357,
 356,
 355,
 354,
 353,
 352,
 351,
 350,
 349,
 348,
 347,
 346,
 345,
 344,
 343,
 342,
 341,
 340,
 339,
 338,
 337,
 336,
 335,
 334,
 333,
 332,
 331,
 330,
 329,
 328,
 327,
 326,
 325,
 324,
 323,
 322,
 321,
 320,
 319,
 318,
 317,
 316,
 315,
 314,
 313,
 312,
 311,
 310,
 309,
 308,
 307,
 306,
 305,
 304,
 303,
 302,
 301,
 300,
 299,
 298,
 297,
 296,
 295,
 294,
 293,
 292,
 291,
 290,
 289,
 288,
 287,
 286,
 285,
 284,
 283,
 282,
 281,
 280,
 279,
 278,
 277,
 276,
 275,
 274,
 273,
 272,
 271,
 270,
 269,
 268,
 267,
 266,
 265,
 264,
 263,
 262,
 261,
 260,
 259,
 258,
 257,
 256,
 255,
 254,
 253,
 252,
 251,
 250,
 249,
 248,
 247,
 246,
 245,
 244,
 243,
 242,
 241,
 240,
 239,
 238,
 237,
 236,
 235,
 234,
 233,
 232,
 231,
 230,
 229,
 228,
 227,
 226,
 225,
 224,
 223,
 222,
 221,
 220,
 219,
 218,
 217,
 216,
 215,
 214,
 213,
 212,
 211,
 210,
 209,
 208,
 207,
 206,
 205,
 204,
 203,
 202,
 201,
 200,
 199,
 198,
 197,
 196,
 195,
 194,
 193,
 192,
 191,
 190,
 189,
 188,
 187,
 186,
 185,
 184,
 183,
 182,
 181,
 180,
 179,
 178,
 177,
 176,
 175,
 174,
 173,
 172,
 171,
 170,
 169,
 168,
 167,
 166,
 165,
 164,
 163,
 162,
 161,
 160,
 159,
 158,
 157,
 156,
 155,
 154,
 153,
 152,
 151,
 150,
 149,
 148,
 147,
 146,
 145,
 144,
 143,
 142,
 141,
 140,
 139,
 138,
 137,
 136,
 135,
 134,
 133,
 132,
 131,
 130,
 129,
 128,
 127,
 126,
 125,
 124,
 123,
 122,
 121,
 120,
 119,
 118,
 117,
 116,
 115,
 114,
 113,
 112,
 111,
 110,
 109,
 108,
 107,
 106,
 105,
 104,
 103,
 102,
 101,
 100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1]

In [18]:
def kthLargest(ls,k):
    ls = defPairList(ls)
    print(ls[k-1])

In [19]:
kthLargest([1,9],3)

7

In [32]:
def difPractice(ls):
    for i in range(0,len(ls)-1):
        for j in range(i+1,len(ls)):
            d = abs(ls[i]-ls[j])
            if d not in ls:
                ls.append(d)
                
    ls = sorted(ls,reverse=True)
    #print(ls(k-1))
    return ls
defPairList([20,40,501])

[1, 2, 3, 4, 5]

- Identify differences of all pairs of numbers in the list and 
- Add those differences to the same list
- It returns the updated list and original list
- Convert the list into Arithmetic Progression

In [ ]:
# Identify differences of all pairs of numbers in the list and 
# Add those differences to the same list
# It Returns the original updated list
# [4,8] -> Constant List
# [4,8,12] -> Constant List
# [3,6,9,12] -> Constant List

# For a list to be constant -> The elements must be of equivalent 
# difference 

# To get a constant list from any given list we are supposed to 
# convert the existing list to an arithmetic progression

# [3,8] -> [3,8,5,2,1,4,7,9,10,11,12,13,14,15]

In [ ]:
a = 1,2,3
b = 1,3,2
a = b.copy()
a = b[:]
a = b
b.append(4)
a.append()

In [14]:
def diff(li):
    c = li.copy()
    newelements = []
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    newelements
    return li

In [16]:
def getAll(li):
    while(True):
        li = diff(li)
        if li[0]==li[1]:
            break
    if len(len(le[0])==k):
        return sorted(li[0],reverse=True)[k-1]
    return -1

# Set - Data Structures in python
- Mutable in nature
- set Obect doesn't has a index
- by default set doesnot follow the sort order

In [19]:
a = {1,2,3,4,5,6}

In [18]:
a

{1, 2, 3, 4, 5, 6}

In [26]:
a = {1,2,3,4,5}
for i in a:
    print(i,end=" ")

1 2 3 4 5

In [41]:
a.add(-1)

In [42]:
a

{-1, '-7', 1, 2, 3, 4, 5, 7, '7', 8, 9}

In [34]:
# Adding multiple elements
b = {9,8,7}
a.update(b)
a

{1, 2, 3, 4, 5, 7, 8, 9}

In [50]:
# removing last elements in a set
a.discard('-7')
a.remove(1)

In [61]:
# Union Operation 
# Not repeated value
a = {1,2,3,4}
b = {4,5,6}
print(a.union(b))
# A U B = B U A
print(b.union(a))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [69]:
# Intersect of a sets
# Common elements in a set
a = {1,2,4}
b = {2,3,4,5,6}
a.intersection(b)

{2, 4}

In [72]:
# Isdisjoint set
# If there are no common elements in a given sets returns True
a = {1,2,3}
b = {4,5,6}
c = {2,7,8}
print(a.isdisjoint(b))
print(a.isdisjoint(c))

True
False

In [76]:
# a - b returns common elements are removed
a = {1,2,3}
b = {1,4,5}
a-b # elements present in a not in b
b-a # elements present in b not in a

{4, 5}

In [79]:
# Converting set into a list
sorted(a)

[1, 2, 3]

In [80]:
# Elements either in a or in b ,Uncommon elements in both sets
a^b

{2, 3, 4, 5}

In [86]:
d = set()#Set initialization 
d

set()

In [89]:
li = [1,2,3,4,5,6,3,5,6]
u = set(li)
u

{1, 2, 3, 4, 5, 6}

- Procedural : C
- Object Oriented : Java,Python
- Scripting  : PHP, Python,Java Script,Perl
- Functional : Python,Kaskel,Scala
- Logic : Prolog ,Lisp

# Functional Programming

## 1.List Comprehension

In [91]:
# N natural numbers in a list
n = 10
ls = []
for i in range(1,n+1):
    ls.append(i)
ls

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [100]:
# N natural numbers using List Comprehension
li = [i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [109]:
# N cubes of n natural number
li = [i for i in range(1,11) if i%2==0]
li

[2, 4, 6, 8, 10]

In [113]:
# Function to Caluculate the Factorial number
def factorial(n):
    if n==0 or n == 1:
        return 1
    return n*factorial(n-1)
factorial(4)

24

In [124]:
# Apply list Comprehension to calculate factorial
# list of all factorals
def fact(l):
    li = [factorial(i) for i in range(1,l+1)] 
    print(li)
fact(6)

[1, 2, 6, 24, 120, 720]

In [128]:
# Store cumulative sum of numbers the 
def cumSum(n):
    li = [i for i in range(0,n+1)]
    sum(li)
    return sum(li)
cumSum(2)

3

In [130]:

def generatCumu(n):
    li = [cumSum(i) for i in range(1,n+1)]
    print(li)
generatCumu(5)

[1, 3, 6, 10, 15]

In [133]:
# Pavan's Sir logic
def generateCumulative(n):
    ls = [sum(range(i+1)) for i in range(1,n+1)]
    print(ls)
generateCumulative(5)

[1, 3, 6, 10, 15]

In [148]:
# Function to store only leap years in a time period
lb = 1970
ub = 2016
li = [lb for lb in range(lb,ub+1) if lb%400==0 or (lb%100!=0 and lb%4==0)]
print(li)

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [181]:
# Pavan Sir's Logic
li = [1,3,2,2,1,2,21]
u = []
[u.append(i) for i in li if i not in u]
print(u)

[1, 3, 2, 21]

# Iterators

Iterable - Strings,Lists,Tuples,Dictionaries,Sets
These are recognized by for loop

Convert Iterable to Iterator

For Loop:
- repeating upto a condition is true
- we can't stop until the condition gets true

Iterator:

- we can stop the loop

In [199]:
it = iter('Python')
ls = []
for i in it:
    ls.append(next(it))
ls

['y', 'h', 'n']

# Generator

Generator is Function we can start generating code ,it remembers where we stopped and where we has to start

In [212]:
def generator():
    n = 2
    m = 3
    yield n,m
    n = n**3
    yield n,m
    n = n**3
    yield n,m
a = generator()
next(a)
next(a)
next(a)

(512, 3)

In [ ]:
def generate():
    n = 2
    for i in range(1,5):
        n **=3
        yield n
a = generate()