# Python Basics

In [11]:
# Python Comments*

print("Good Afternoon",end="!||")
print("Welcome to Python")

Good Afternoon!||jdflkjdWelcome to Python

### Assignments:

In [58]:
a = 123 # Single variable assignment
print(a)

b = c = d = a # multi variable assignment

b+0
d+1
c+2
print(d)
c

a,b,c = 123,124,125
print(a,b,c,d)
print(b,a,c)
len(str(10 ** 82))
10 ** 82

123
123
123 124 125 123
124 123 125

10000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [59]:
a =10
b = 20
a>b

False

In [60]:
b>a

True

### Data types:

In [21]:
s = 123
type(s)
len(str(s))
float(s)
str(s)
str(float(int(s)))

'123.0'

### Conditionals:

In [67]:
if a<b:
    print(a)
else:
    print(b)

10

In [80]:
print(a) if a>b else print(b)

20

In [78]:
a

10

In [79]:
b

20

In [82]:
n = 123
if(n%2 == 0):
    print("Even")
else:
    print("Odd")

Odd

In [86]:
# Check the given number is even or odd?
n=123
print("Even") if (n%2 == 0) else print("Odd")

Odd

In [6]:
# Check the greater number in given numbers?

n1= int(input("enter number:"))
n2 = int(input("Enter n2:"))
n3 = int(input("Enter n3:"))
if(n1>n2 and n1>n3):
    print(n1)
elif(n2>n3):
    print(n2)
else:
    print(n3)

enter number:-1
Enter n2:-100
Enter n3:-50
-1

In [9]:
# Check whether the given number is leap year or not

n1= int(input("enter number:"))
if((n1%400 == 0) or (n1%100 !=0 and n1%4 == 0)):
    print("Leap Year")
else:
    print("Not Leap")

enter number:2020
Leap Year

In [11]:
# Check the given number is with in the range or not

n1= int(input("enter number:"))
lb= int(input("enter number:"))
ub= int(input("enter number:"))

print("with in range") if(n1>=lb and n1 <= ub) else  print("Not in a range")

enter number:33
enter number:40
enter number:50
Not in a range

In [12]:
# Find the no of digits in a given number
n1= int(input("enter number:"))
print(len(str(n1)))

enter number:123
3

In [13]:
# Check the given number is multiple of 10
n1= int(input("enter number:"))
print("number is multiple of 10") if(n1%10==0) else print("Not a multiple of 10")

enter number:20
number is multiple of 10

In [15]:
# Check the given number is factor of 1000
n1= int(input("enter number:"))
print("Given number is a factor of 1000") if(1000%n1 == 0) else print("Given number is not a factor of 1000")

enter number:3
Given number is not a factor of 1000

In [16]:
# Check if a given string is equal to a number
n1= str(input("enter String:"))
n2= int(input("enter number:"))

print("it is equal") if(int(n1)==n2) else print("Not equal")

enter String:123
enter number:123
it is equal

In [17]:
# Calculate the square root of a number without a math function
n1 = int(input("enter number:"))
n1 ** 0.5

enter number:4

2.0

In [18]:
# Calculate the number of nano seconds in a given year(Considering leap year logic)
year = int(input("Enter year"))
print(366 * 24 * 60 * 60 * (10 ** 9)) if((year%400==0) or (year%100!=0 and year%4==0)) else print(365 * 24 * 3600 *(10 ** 9))

Enter year2016
31622400000000000